<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://blogbloggityblog.wordpress.com/2012/03/03/faithful-to-the-original-comparing-sherlock-and-sherlock-holmes/">Faithful to the Original: Comparing Sherlock and Sherlock Holmes</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Pondicherry Lodge</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://brightlightsfilm.com/78/78-kahaani-bollywood-crime-thriller-vidya-durga-goddess_sujoy-ghosh.php#.U3ewy1hdVOg">Pushing Limits: On Crime, Bollywood and Kahaani</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bright Lights Film Journal</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
