<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://brightlightsfilm.com/78/78-kahaani-bollywood-crime-thriller-vidya-durga-goddess_sujoy-ghosh.php#.U3ewy1hdVOg">Pushing Limits: On Crime, Bollywood and Kahaani</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bright Lights Film Journal</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
        <tr>
                <td>
                        <span class="date">

                                <big><strong>2014</strong></big><br />

                                September
                        </span>
                </td>
                <td class="publication">
                        <span class="pubtitle">
                                Nerînke Postkolonyal li ser The Tempest û Axriyên Wê. (Translated to Kurdish from <a href="papers/tempest-report.pdf">A postcolonial view of <i>The Tempest</i> and its afterlives.)
                        </span><br />
                        <span class="authors">
                                Ravi Bhoraskar.
                        </span><br />
                        <span class="venuetype"></span><span class="venue">Zarema rexne û teorî</span>.
                        <br />
                        <span class="links">
                        </span>
                </td>
        </tr>

</tbody>
</table>
