<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Are You Watching Closely? A study of Christopher Nolan's engagement with structure, chronology, and motif.
			</span><br />
			<span class="authors">
				Mukund Madhav Varma, Ravi Bhoraskar, and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Film International</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/tempest-report.pdf">Nerînke Postkolonyal li ser The Tempest û Axriyên Wê. (Translated to Kurdish from A postcolonial view of The Tempest and its afterlives)</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Zarema rexne û teorî</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://brightlightsfilm.com/78/78-kahaani-bollywood-crime-thriller-vidya-durga-goddess_sujoy-ghosh.php#.U3ewy1hdVOg">Pushing Limits: On Crime, Bollywood and Kahaani</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bright Lights Film Journal</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
