<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.google.com/patents/US20170161357">Systems and methods for categorizing content</a>.
			</span><br />
			<span class="authors">
				Ling Bao, Ryan David Landay, Ravi Bhoraskar, and Bosmat Eldar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=patent)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/ageinappropriate.pdf">Preventing Display of Age Inappropriate Advertising</a>.
			</span><br />
			<span class="authors">
				Jaeyeon Jung, Suman Nath, and Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=patent)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
