<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/bladedroid-poster.pdf">User scripting for Android using BladeDroid</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Dominic Langenegger, Pingyang He, and Michael D. Ernst.
			</span><br />
			<span class="venuetype"></span><span class="venue">Networked Systems Design and Implementation (NSDI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/tinytocs-bhoraskar.pdf">Using MOOCs as a Global Testbed for Network Measurement</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Tiny Transactions on Computer Science (TinyToCS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/indiahci.pdf">Designing Culturally Appropriate Games by Drawing on Indian Mythology</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Srechand Tavva, Anshul Chaurasia, and Mathew Kam.
			</span><br />
			<span class="venuetype"></span><span class="venue">India HCI</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
