<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Collaborative Verification of Information Flow for a High-Assurance App Store.
			</span><br />
			<span class="authors">
				Michael D. Ernst, Rene Just, Suzanne Millstein, Werner M. Dietl, Stuart Pernsteiner, Franziska Roesner, Karl Koscher, Paulo Barros, Ravi Bhoraskar, Seungyeop Han, Paul Vines, and Edward X. Wu.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM CCS</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/brahmastra.pdf">Brahmastra: Driving Apps to Test the Security of Third-Party Components</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Seungyeop Han, Jinseong Jeon, Tanzirul Azim, Shuo Chen, Jaeyeon Jung, Suman Nath, Rui Wang, and David Wetherall.
			</span><br />
			<span class="venuetype"></span><span class="venue">Usenix Security</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/bladedroid.pdf">User scripting for Android using BladeDroid</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Dominic Langenegger, Pingyang He, Raymond Cheng, Will Scott, and Michael D. Ernst.
			</span><br />
			<span class="venuetype"></span><span class="venue">Asia-Pacific Workshop on Systems (APSys)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/bladedroid-poster.pdf">User scripting for Android using BladeDroid (poster)</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Dominic Langenegger, Pingyang He, and Michael D. Ernst.
			</span><br />
			<span class="venuetype"></span><span class="venue">Networked Systems Design and Implementation (NSDI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://blogbloggityblog.wordpress.com/2012/03/03/faithful-to-the-original-comparing-sherlock-and-sherlock-holmes/">Faithful to the Original: Comparing Sherlock and Sherlock Holmes</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Pondicherry Lodge</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/tinytocs-bhoraskar.pdf">Using MOOCs as a Global Testbed for Network Measurement</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Tiny Transactions on Computer Science (TinyToCS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/ibf.pdf">Importance-aware Bloom Filter for Managing Set Membership Queries on Streaming Data</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Vijay Gabale, Purushottam Kulkarni, and Dhananjay Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">Communication Systems and Networks (COMSNETS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://brightlightsfilm.com/78/78-kahaani-bollywood-crime-thriller-vidya-durga-goddess_sujoy-ghosh.php#.U3ewy1hdVOg">Pushing Limits: On Crime, Bollywood and Kahaani</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bright Lights Film Journal</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/wolverine.pdf">Wolverine: Traffic and Road Condition Estimation Using Smartphone Sensors</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Nagamanoj Vankadhara, Bhaskaran Raman, and Purushottam Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">Wireless Systems Advanced Research and Development (WISARD)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="papers/indiahci.pdf">Designing Culturally Appropriate Games by Drawing on Indian Mythology (Poster)</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Srechand Tavva, Anshul Chaurasia, and Mathew Kam.
			</span><br />
			<span class="venuetype"></span><span class="venue">India HCI</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
