<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Brahmastra: Driving Apps to Test the Security of Third-Party Components.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Seungyeop Han, Jinseong Jeon, Tanzirul Azim, Shuo Chen, Jaeyeon Jung, Suman Nath, Rui Wang, and David Wetherall.
			</span><br />
			<span class="venuetype"></span><span class="venue">Usenix Security</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				User scripting for Android using BladeDroid.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Dominic Langenegger, Pingyang He, Raymond Cheng, Will Scott, and Michael D. Ernst.
			</span><br />
			<span class="venuetype"></span><span class="venue">Asia-Pacific Worshop on Systems (APSys)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				User scripting for Android using BladeDroid (poster).
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Dominic Langenegger, Pingyang He, and Michael D. Ernst.
			</span><br />
			<span class="venuetype"></span><span class="venue">Networked Systems Design and Implementation (NSDI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Using MOOCs as a Global Testbed for Network Measurement.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar.
			</span><br />
			<span class="venuetype"></span><span class="venue">Tiny Transactions on Computer Science (TinyToCS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Importance-aware Bloom Filter for Managing Set Membership Queries on Streaming Data.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Vijay Gabale, Purushottam Kulkarni, and Dhananjay Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">Communication Systems and Networks (COMSNETS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://brightlightsfilm.com/78/78-kahaani-bollywood-crime-thriller-vidya-durga-goddess_sujoy-ghosh.php#.U3ewy1hdVOg">Pushing Limits: On Crime, Bollywood and Kahaani</a>.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar and Sudha Shastri.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bright Lights Film Journal</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Wolverine: Traffic and Road Condition Estimation Using Smartphone Sensors.
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Nagamanoj Vankadhara, Bhaskaran Raman, and Purushottam Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">Wireless Systems Advanced Research and Development (WISARD)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Designing Culturally Appropriate Games by Drawing on Indian Mythology (Poster).
			</span><br />
			<span class="authors">
				Ravi Bhoraskar, Srechand Tavva, Anshul Chaurasia, and Mathew Kam.
			</span><br />
			<span class="venuetype"></span><span class="venue">India HCI</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
