{{ define "main" }}
<table width = 100%>
    <tr>
        <td>
            <a href="#" onclick="showMailchimpPopup(); return false;">Subscribe to new posts</a>
        </td>
        <td>
            <p align="right">
            <a href="/blog/all.html">See list of all posts</a></p>
        </td>
    </tr>
</table>

<ul class="news list-unstyled">
    {{ $blogPostCount := .Site.Params.blogPostCount | default 50 }}
    {{ range first $blogPostCount (where .Site.RegularPages "Section" "blog") }}
    {{ if not .Params.shortnews }}
    <a href="{{ .Permalink }}">
        <h2>{{ .Title }}</h2>
    </a>
    <p class="meta">{{ .Date.Format "02 Jan 2006" }}</p>

    <div class="post">
        {{ .Content }}
    </div>
    {{ end }}
    {{ end }}
</ul>
<table width = 100%>
    <tr>
        <td>
            <a href="#" onclick="showMailchimpPopup(); return false;">Subscribe to new posts</a>
        </td>
        <td>
            <p align="right">
            <a href="/blog/all.html">See list of all posts</a></p>
        </td>
    </tr>
</table>
{{ end }}
