{{ define "main" }}
<p class="meta">{{ .Date.Format "02 Jan 2006" }}</p>

<div class="post">
    {{ .Content }}
</div>
<div class="footer">
    <table width=100%>
        <tr>
            <td>
                <p align="left">
                    <a href="#" onclick="showMailchimpPopup(); return false;">Subscribe to new posts</a>
                </p>
            </td>
            <td>
                <p align="right">
                    <a href="/blog/all.html">See list of all posts</a>
                </p>
            </td>
        </tr>
    </table>
</div>
{{ end }}
