---
layout: default
---
<a href="#" onclick="showMailchimpPopup()">Subscribe to new posts</a>
<h2>Blog Posts and Updates</h2>
<ul class="news list-unstyled">
    {% for post in site.posts %}
    {% if post.shortnews %}
    <li class="shortnews">
        <span class="date">{{ post.date | date_to_long_string }}</span>
        {{ post.content }}
    </li>
    {% else %}
    <li class="shortnews">
        <span class="date">{{ post.date | date_to_long_string }}</span>
        <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
